<div
  class="user-detail-container"
  [ngClass]="{
    'staff-user': user.role === 0,
    'student-user': user.role === 1,
    'manager-user': user.role === 2,
    'admin-user': user.role === 3
  }"
>
  <span>{{ userIndex }}.</span>
  <span
    ><img
      class="profile-photo"
      [src]="user.profilePhotoUrl"
      alt="profile photo"
  /></span>
  <b>{{ user.name + user.surname }}</b>
  <span>{{ user.age }}</span>
  <span>{{ user.address.city }}</span>
  <button (click)="deleteUser(user)">Delete</button>
</div>
