.user-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  max-width: 400px;
}

.profile-photo {
  max-height: 70px;
  max-width: 70px;
}
