body {
  box-sizing: border-box;
  font-weight: bold;
}
.app-component-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  text-align: center;
  margin: 10px;
}

.app-component-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 0;
}

app-user-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 10fr;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  min-height: 500px;
  margin: 10px;
  background-color: rgb(186, 214, 224);
  border: 1px solid rgb(70, 147, 219);
}

app-order-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-height: 500px;
  margin: 10px;
  padding-bottom: 10px;
  background-color: rgb(229, 190, 190);
  border: 1px solid rgb(235, 109, 109);
}
